{% extends 'base.html' %}

{%block title %} Home {%endblock title %}
{% block head %}

<style type="text/css">
	
	img{
		width : 100px;
		height : 100px;
		float :left;
	}
	
	.heading{
		padding: 5% 10% 8% 10%;
		width: cover;
		background: #2980B9;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	h1{
		padding-top: 20px;
		padding-left: 110px;
	}
	.card{
		margin-bottom: 5%;
		width: 80%;
	}
	.read-more{
		float:right;
		margin-right: 20px;
		margin-bottom: 20px;
	}



</style>

{% endblock %}


{% block body %}
<div class = "heading">
	<img src = "https://image.freepik.com/free-vector/diary-seamless-pattern_1284-12819.jpg?1">
	<h1 class = "vertical-center">
		My Personal Diary
	</h1>
</div>
<div class = "container">
	{% for diary in diary %}
	<div>
		<div class="card">
		  <div class="card-header">
		    {{diary.date}}
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">{{diary.title}}</h5>
		    <p class="card-text">{{diary.content}}</p>
		    <a href="/show/{{diary.id}}" class="btn btn-primary read-more">Read More</a>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}