{% extends 'base.html' %}

{%block title %} Home {%endblock title %}
{% block head %}

<style type="text/css">
	
	img{
		width : 100px;
		height : 100px;
		float :left;
	}
	
	.container-fluid{
		background: #2980B9;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	h1{
		padding-top: 20px;
		padding-left: 110px;
	}
	.diary-card{
		border-radius: 40px;
		margin-bottom: 5%;
		width: 80%;
	}
	.diary-card .card{
		border-radius:inherit;
	}
	.diary-card .card-header{
		border-radius:40px 40px 0 0;
	}
	.read-more{
		float:right;
		margin-right: 20px;
		margin-bottom: 20px;
	}



</style>

{% endblock %}


{% block body %}
<div class = "container-fluid pb-5">
	<div class = "heading pl-3">
		<img class = "mt-2" src = "https://image.freepik.com/free-vector/diary-seamless-pattern_1284-12819.jpg?1">
		<h1 class = "vertical-center">
			My Personal Diary
		</h1>
	</div>
</div>
<div class = "container my-5">
	{% for diary in diary %}
	<div class = "diary-card">
		<div class="card">
		  <div class="card-header">
		    {{diary.date}}
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">{{diary.title}}</h5>
		    <p class="card-text">{{diary.content}}</p>
		    <a href="/show/{{diary.id}}" class="btn btn-primary read-more">Read More</a>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}